<%=content_tag :div, class: "d-flex flex-column justify-content-center" do%>
  <%=content_tag :div, class: "d-flex justify-content-center" do%>
    <%=content_tag :h2, "Sign Up"%>
  <%end%>
  <%=content_tag :div, class: "d-flex justify-content-center" do%>
    <%=form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%=render "devise/shared/error_messages", resource: resource%>
      <%=content_tag :div, class: "field pb-1" do%>
        <%=f.label :email%>
        <%=f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email"%>
      <%end%>
      <%=content_tag :div, class: "field pb-1" do%>
        <%=f.label :password%>
        <%=content_tag :em, "(#{@minimum_password_length} characters minimum)" if @minimum_password_length%>
        <%=f.password_field :password, class: "form-control", autocomplete: "new-password"%>
      <%end%>
      <%=content_tag :div, class: "field pb-1" do%>
        <%=f.label :password_confirmation%>
        <%=f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password"%>
      <%end%>
      <%=content_tag :div, class: "d-flex flex-column justify-content-evenly actions gx-5" do%>
        <%=f.submit "Sign Up", class: "btn btn-success mb-1", style: "width: 100%"%>
      <%end%>
      <%=link_to "Have an account? Log in", new_session_path(resource_name)%>
    <%end%>
  <%end%>
<%end%>

<% if false %>
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<%end%>
